body {
    font-family: "Lucida Console", monospace;
}

.navbar {
    position: fixed;
    background-color: #333333;
    padding: 10px 10px;
    text-align: center;
    overflow: hidden;
}

.navbar-title {
   color: #dddddd;
}

.navbar-links ul {
    list-style-type: none;
}

.navbar-links li {
    color: #dddddd;
    display: inline;
}

.navbar-links li:hover {
    background-color: #dddddd
}

.navbar-links a {
    color:#dddddd
}