body {
    font-family: "Lucida Console", monospace;
}

nav ul {
    background-color: #333333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #dddddd
}

nav li {
    float: right;
}