body {
    font-family: "Lucida Console", monospace;
}

.navbar {
    background-color: #333333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    color: #dddddd
}

.navbar li {
    float: right;
}