#nav-link-projects {
  font-weight: bold;
}

html,body {
  overflow-y: hidden;
}

/* Override the page grid layout to fit the canvas */
.page {
  grid-template-rows: auto 1fr 0fr;
}

.content {
  opacity: 1.0;
  background-color: transparent;
  margin-top: 0;
  padding: 0;
  padding-top: 0;
}

.container
{
  height: 100vh;
  width: 100vw;
  touch-action: none; /* Allow dragging on the canvas */
}

#project-list {
  background-color: rgba(231, 227, 220, 80);
}

#project-table {
  border: 1px solid rgba(0, 0, 0, 100);
  padding:0.2vh;
  padding-left:0.2vw;
  padding-right:0.2vw;
}

#project-table tr {
  outline: 1px solid rgba(0, 0, 0, 100);
}

#project-table td {
  padding: 2vh;
}