#nav-link-philosophy {
  font-weight: bold;
}

.quote {
  text-align: center;
  font-style: italic;
}

.source {
  text-align: center;
  font-style: normal;
  font-weight: bold;
}

.topic {
  font-weight: normal;
}
