/*Define Navbar position and default width*/
.navbar {
  z-index: 100;
  background-color: #333333;
  text-align: center;
  grid-area: navbar;
  padding: 5px;
}

#navbar-expand-icon
{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

/*Define Navbar layout (grid)*/
/*Default (big) view is contiguous right -> left (top menu of site)*/

.navbar-links {
  display: grid;
  grid-template-columns: 1fr 0.01fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav-top-row nav-mid-row nav-bottom-row";
  margin-bottom: 1%;
  display: none;
}

.navbar-expanded
{
  display:grid;
}

.navbar-links-top-row {
  grid-area: nav-top-row;
  text-align: right;
  margin-right: 2px;
}

.navbar-links-mid-row {
  grid-area: nav-mid-row;
}

.navbar-links-bottom-row {
  grid-area: nav-bottom-row;
  text-align: left;
  margin-left: 2px;
}

.navbar-title > p {
  text-decoration: none;
  color: #dddddd;
  margin: 0;
  padding: 2px;
}

.navbar-links ul {
  list-style-type: none;
  margin: 1px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3px;
}

.navbar-links li {
  color: rgba(255, 255, 255, 100);
  display: inline;
}

.navbar-links a {
  color: #dddddd;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 3px;
}

/* "Underline on Hover" effect on navbar links*/
.navbar-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-links a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ffffff;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.navbar-links .nav-separator:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* Styling for small screens */
@media (max-width: 576px) {

  /* Alternate navbar layout for small screens (stacked) */
  .navbar-links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "nav-top-row" "nav-bottom-row";
  }

  .navbar-links-mid-row {
    display: none;
  }

  .navbar-links-top-row {
    text-align: center;
  }

  .navbar-links-bottom-row {
    text-align: center;
  }
}

/* Styling for mobile screens */
@media (-webkit-min-device-pixel-ratio: 3) {

  /* Alternate navbar layout for small screens (stacked) */
  .navbar-links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nav-top-row" "nav-bottom-row";
  }

  .navbar-links-mid-row {
    display: none;
  }

  .navbar-links-top-row {
    text-align: center;
  }

  .navbar-links-bottom-row {
    text-align: center;
  }
}

/* Styling for high-res mobile screens */
@media (-webkit-min-device-pixel-ratio: 3) and (min-width: 577px) and (orientation: portrait) {

  .navbar-links a {
    font-size: 2em;
  }

  .navbar-title {
    font-size: 2em;
  }

  .nav-separator {
    font-size: 2em;
  }

  .navbar-links ul {
    font-size: 1.5em;
  }
}

/* Style for mobile screens in landscape mode */
@media (-webkit-min-device-pixel-ratio: 3) and (min-width: 577px) and (orientation: landscape) {
  .navbar-links a {
    font-size: 1em;
  }

  .navbar-title {
    font-size: 1em;
  }

  .nav-separator {
    font-size: 1em;
  }

  .navbar-links ul {
    font-size: 1em;
  }
}
