#nav-link-contact {
    font-weight:bold;
}

.content {
    width:100%;
}

#contact-table {
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,100);
    width:60%;
}

tr {
    outline: 1px solid rgba(0,0,0,100);
}

