#nav-link-contact {
    font-weight:bold;
}

#contact-table {
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,100);
    width:20%;
    text-emphasis: bold;
    font-size: 12pt;
    padding:10%;
}